$font-primary: 'Rubik', sans-serif;
$color-primary: #ff7676;
$color-secondary: #f54ea2;
$color-black: #000000;
$color-white: #ffffff;
$color-body-text: #7e8890;
$color-heading-text: #374252;

$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 768px;
$screen-xs: 480px;